/* MEMO: もう不要だが後方互換性のためしばらく残す */

.tooltip1 {
  position: relative;
  display: inline-block;
}

.description1 {
  display: none;
  position: absolute;
  padding: 2px 6px;
  font-size: 12px;
  line-height: 1.6em;
  color: #111;
  border-radius: 5px;
  background: #ccc;
  width: 40px;
}

.tooltip1:hover .description1 {
  display: inline-block;
  top: -4px;
  left: -42px;
}
